.test {
  padding-left: 10px;
  padding-right: 10px; }

.test2 {
  padding-left: 10px;
  padding-right: 11px; }
  [dir="rtl"] .test2 {
    padding-left: 11px;
    padding-right: 10px; }

.test3 {
  padding-left: 10px;
  padding-right: 11px; }
  [dir="rtl"] .test3 {
    padding-left: 11px;
    padding-right: 10px; }
