// Variables
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;

$zen-column-count: 5;
$zen-gutter-width: 40px;
$zen-auto-include-unit-base: false;

$base-font-size: 16px;
$rem-base-font: $base-font-size;
$base-line-height: 24px;


//
// Partials to be shared with all .scss files.
//
// To make it easier to use all variables and mixins in any Sass file in this
// theme, each .scss file has a @import "base" declaration. And this _base.scss
// file is in charge of importing all the other partials needed for the theme.

@import "compass/support"; // Add Compass' IE and vendor prefix support variables.

@import "zen";
@import "compass/css3";
@import "custom";
