// Variables
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;

$zen-column-count: 5;
$zen-gutter-width: 40px;
$zen-auto-include-unit-base: false;


//
// Partials to be shared with all .scss files.
//
// To make it easier to use all variables and mixins in any Sass file in this
// theme, each .scss file has a @import "base" declaration. And this _base.scss
// file is in charge of importing all the other partials needed for the theme.

@import "compass/support"; // Add Compass' IE and vendor prefix support variables.

@import "zen";
@import "compass/css3";


//
// Sass mixins
//

// element-invisible as defined by http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    clip: rect(1px 1px 1px 1px); // IE6 and IE7 use the wrong syntax.
  }
  clip: rect(1px, 1px, 1px, 1px);
}

// Turns off the element-invisible effect.
@mixin element-invisible-off {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

@mixin element-focusable {
  @include element-invisible;

  &:active,
  &:focus {
    @include element-invisible-off;
  }
}

// All browsers use a 16px default font size, but let it be overridden.
$rem-base-font: 16px !default;
// Add font-size and line-height with rem units, using px as a fallback value.
@mixin font-rem($font-size, $line-height: 0) {
  font-size: $font-size;
  font-size: ($font-size / $rem-base-font) * 1rem;
  @if ($line-height > 0) {
    line-height: $line-height;
    line-height: ($line-height / $rem-base-font) * 1rem;
  }
}
