//
// Custom sass mixins
//
// To use a mixin in this file, add this line to the top of your .scss file:
//   @import "base";
// Then to use a mixin for a particular rule, add this inside the ruleset's
// curly brackets:
//   @include mix-in-name;


// element-invisible as defined by http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    clip: rect(1px 1px 1px 1px); // IE6 and IE7 use the wrong syntax.
  }
  clip: rect(1px, 1px, 1px, 1px);
}

// Turns off the element-invisible effect.
@mixin element-invisible-off {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

@mixin element-focusable {
  @include element-invisible;

  &:active,
  &:focus {
    @include element-invisible-off;
  }
}

@mixin show-query($size: 'mobile') {
  @if $size == 'mobile' {
    .mq-mobile {
      display: inline;
    }
    .mq-tablet,
    .mq-desktop,
    .mq-large {
      display: none;
    }
  } @else if $size == 'tablet' {
    .mq-tablet {
      display: inline;
    }
    .mq-mobile,
    .mq-desktop,
    .mq-large {
      display: none;
    }
  } @else if $size == 'desktop' {
    .mq-desktop {
      display: inline;
    }
    .mq-mobile,
    .mq-tablet,
    .mq-large {
      display: none;
    }
  } @else if $size == 'large' {
    .mq-large {
      display: inline;
    }
    .mq-mobile,
    .mq-tablet,
    .mq-desktop {
      display: none;
    }
  }
}
