//
// Tooltip styling
//
.tooltip-target {
  position: relative;
}

.tooltip,
.pointer {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
}
.tooltip {
  left: -2px;
  border: {
    left: 6px solid transparent;
    right: 6px solid transparent;
  }
  color: $tooltip-color;
  font-weight: normal;

  &.down {
    top: -6px;
    border-top: 6px solid $tooltip-border-color;
  }

  &.up {
    bottom: -5px;
    border-bottom: 6px solid $tooltip-border-color;
  }

  // Comment marks are re-used as tooltip pointers
  .pointer {
    z-index: 1;
    text-indent: -9000px;
    overflow: hidden;
    border: {
      left: 4px solid transparent;
      right: 4px solid transparent;
    }
  }
  &.down .pointer {
    top: -6px;
    left: -4px;
    border-top: 4px solid $tooltip-bg-color;
  }
  &.up .pointer {
    bottom: -6px;
    left: -4px;
    border-bottom: 4px solid $tooltip-bg-color;
  }

  .text {
    position: absolute;
    right: -8.5em;
    width: 250px;
    padding: 3px 7px;
    font-size: 16px;
    line-height: 1.2em;
    white-space: normal;
    font-family: serif;
    background-color: $tooltip-bg-color;
    border: 1px solid $tooltip-border-color;
    @include border-radius(3px);
  }
  &.down .text {
    bottom: 5px;
  }
  &.up .text {
    top: 5px;
  }
}

#ex-import {
  .tooltip {
    left: 45px;
  }
  .text {
    right: -9em;
  }
}

#ex-columns {
  .text {
    right: -8.7em;
  }
}

#ex-container,
#ex-apply {
  .tooltip {
    left: 50px;
  }
  .text {
    width: 239px;
    right: -7.5em;
  }
}

#ex-grid-item {
  .down .text {
    margin-right: -27px;
  }
  .up {
    left: 25px;
  }
  .up .text {
  }
  .text {
    width: 150px;
    right: -1.25em;
  }
}

#ex-clear {
  .tooltip {
    left: 35px;
  }
  .text {
    width: 150px;
    right: -8em;
  }
}
