@import "base";

body {
  margin: 0;
  padding: 0;
  @include font-rem(16px, 24px);
}

//
// HTML5 rules for legacy browsers
//
// Corrects for missing block and inline-block display in IE6/7/8/9 and FF3.
//
article, aside, footer, header, hgroup, nav, section,
details, figcaption, figure, menu, summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    .ie6-7 & {
      display: inline;
      zoom: 1;
    }
  }
}

// Skip link styling
#skip-link {
  margin: 0;

  a,
  a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: #fff;
  }
}

@media all and (min-width: 321px) {
  #skip-link a {
    @include element-focusable;
  }
}

#header {
  h1 {
    @include element-invisible;
  }
  h2 {
    font-weight: normal;
    margin: $zen-gutter-width 0;
    text-align: center;

    em {
      display: block;
    }
  }
}

#main-menu h2 {
  @include element-invisible;
}

img {
  max-width: 100%;
  height: auto;
}

a:link,
a:visited {
  color: #0c3043;
}

a:hover,
a:focus {
}
