@import "base";
@import "compass/typography/vertical_rhythm";
// Aggregate all the stylesheets into one file.
@import "html-elements.scss";
@import "common.scss";


$zen-column-count: 2;
$zen-auto-include-item-base: false;

#page {
  margin: {
    left: auto;
    right: auto;
  }
  max-width: 800px;
  @include zen-grid-container;
}
#header,
#content>section,
#comments,
#main-menu,
#footer {
  @include zen-grid-item-base;
  margin: {
    top: $zen-gutter-width;
    bottom: $zen-gutter-width;
  }
}
#header {
  margin: {
    top: 0 !important;
    bottom: 0;
  }
}
#header,
#main-menu,
#footer {
  text-align: center;
}

#help-toc {
  ul {
    padding-left: 0;
    list-style-type: none;
    li:before {
      content: "★   ";
      font-size: 50%;
      position: relative;
      top: -0.3em;
    }
    ul {
      padding-left: zen-half-gutter();
    }
  }
}

@media all and (min-width: 540px) {
  #header {
    @include zen-grid-item(1, 1);
  }

  #help-toc {
    @include zen-grid-item(1, 2);
    margin-top: 10px !important;
    h1 {
      margin-top: 0;
    }
  }

  #import {
    @include zen-clear(both);
  }
}

#content h2,
#comments h2 {
  margin: {
    left: -(zen-half-gutter());
    right: -(zen-half-gutter());
  }
  padding: (zen-half-gutter() - 5px) zen-half-gutter();
  background-color: #eee;
  @include border-radius(5px);
}

#comments {
  #dsq-content #dsq-global-toolbar,
  #disqus_thread {
    @include adjust-leading-to(1);
    margin: rhythm(1) 0;
  }
}

#logo {
  display: block;
  max-width: 293px;
  margin: 0 auto;
  text-align: center;
}

@media all and (min-width: 321px) {
  #page {
    padding-top: 3em;
  }
  #header {
    margin-top: zen-half-gutter();
  }
  #main-menu {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    line-height: 3em;
    margin: 0;

    h2 {
      @include element-invisible;
    }
    p {
      margin: 0;
    }
  }

  #content {
    h2,
    h3,
    h4 {
      margin-top: $zen-gutter-width;
    }

    h3 em {
      font-weight: normal;
      font-style: normal;
      @include font-rem($base-font-size);
    }

    article {
      p,
      pre,
      ul {
        margin-left: $zen-gutter-width;
      }
      ul {
        padding-left: 0;
      }
    }
  }
}
