@import "base";


#page {
  margin: {
    left: auto;
    right: auto;
  }
  max-width: 320px;
  @include zen-grid-container;
}

#header,
#features,
#content,
#main-menu,
#footer {
  @include zen-grid-item-base;
  margin: $zen-gutter-width 0;
  text-align: center;
}

#logo {
  display: block;
  max-width: 293px;
  margin: 0 auto;
  text-align: center;
}

