.grid-background-images {
  /* The nubmer 1. */
  background-image: inline-image("zen-grid-numbers/number01.png");
  /* The nubmer 2. */
  background-image: inline-image("zen-grid-numbers/number02.png");
  /* The nubmer 3. */
  background-image: inline-image("zen-grid-numbers/number03.png");
  /* The nubmer 4. */
  background-image: inline-image("zen-grid-numbers/number04.png");
  /* The nubmer 5. */
  background-image: inline-image("zen-grid-numbers/number05.png");
  /* The nubmer 6. */
  background-image: inline-image("zen-grid-numbers/number06.png");
  /* The nubmer 7. */
  background-image: inline-image("zen-grid-numbers/number07.png");
  /* The nubmer 8. */
  background-image: inline-image("zen-grid-numbers/number08.png");
  /* The nubmer 9. */
  background-image: inline-image("zen-grid-numbers/number09.png");
  /* The nubmer 10. */
  background-image: inline-image("zen-grid-numbers/number10.png");
  /* The nubmer 11. */
  background-image: inline-image("zen-grid-numbers/number11.png");
  /* The nubmer 12. */
  background-image: inline-image("zen-grid-numbers/number12.png");
  /* The nubmer 13. */
  background-image: inline-image("zen-grid-numbers/number13.png");
  /* The nubmer 14. */
  background-image: inline-image("zen-grid-numbers/number14.png");
  /* The nubmer 15. */
  background-image: inline-image("zen-grid-numbers/number15.png");
  /* The nubmer 16. */
  background-image: inline-image("zen-grid-numbers/number16.png");
  /* The nubmer 17. */
  background-image: inline-image("zen-grid-numbers/number17.png");
  /* The nubmer 18. */
  background-image: inline-image("zen-grid-numbers/number18.png");
  /* The nubmer 19. */
  background-image: inline-image("zen-grid-numbers/number19.png");
  /* The nubmer 20. */
  background-image: inline-image("zen-grid-numbers/number20.png");
  /* The nubmer 21. */
  background-image: inline-image("zen-grid-numbers/number21.png");
  /* The nubmer 22. */
  background-image: inline-image("zen-grid-numbers/number22.png");
  /* The nubmer 23. */
  background-image: inline-image("zen-grid-numbers/number23.png");
  /* The nubmer 24. */
  background-image: inline-image("zen-grid-numbers/number24.png");
  /* The nubmer 25. */
  background-image: inline-image("zen-grid-numbers/number25.png");
}
