/**
 * @file
 * Test zen-grid-container()
 */

@import 'support-for';
@import "zen-grids";

#test-zen-grid-container {
  /* Test zen-grid-container() */
  @include zen-grid-container();
}

#test-zen-grid-container-2 {
  /* Test zen-grid-container() with IE 7 support */
  $support-for: (ie: 7) !global;
  @include zen-grid-container();
  $support-for: ('*': -4) !global;
}

#test-zen-grid-container-3 {
  /* Test zen-grid-container() with IE 6 support */
  $support-for: (ie: 6) !global;
  @include zen-grid-container();
  $support-for: ('*': -4) !global;
}

#test-zen-grid-container-4 {
  /* Test zen-grid-container() with $context: grid-item */
  @include zen-grid-container(grid-item);
}

#test-zen-grid-container-5 {
  /* Test zen-grid-container() with $context: flow and $gutters: 21px */
  @include zen-grid-container(flow, $gutters: 21px);
}

#test-zen-grid-container-6 {
  /* Test zen-grid-container() with $context: flow and $gutters: 21px and $zen-switch-direction: true */
  $zen-switch-direction: true !global;
  @include zen-grid-container(flow, $gutters: 21px);
  $zen-switch-direction: false !global;
}

#test-zen-grid-container-7 {
  /* Test zen-grid-container() with $zen-gutter-method: margin */
  $zen-gutter-method: margin !global;
  @include zen-grid-container();
  $zen-gutter-method: padding !global;
}

#test-zen-grid-container-8 {
  /* Test zen-grid-container() with $context: flow, $gutters: 21px, $rtl-selector */
  @include zen-grid-container(flow, $gutters: 21px, $rtl-selector: '[dir="rtl"]');
}
