/**
 * @file
 * Test zen-grid-container()
 */
#test-zen-grid-container {
  /* Test zen-grid-container() */ }
  #test-zen-grid-container:before {
    content: "";
    display: table; }
  #test-zen-grid-container:after {
    content: "";
    display: table;
    clear: both; }

#test-zen-grid-container-2 {
  /* Test zen-grid-container() with IE 7 support */
  *position: relative;
  *zoom: 1; }
  #test-zen-grid-container-2:before {
    content: "";
    display: table; }
  #test-zen-grid-container-2:after {
    content: "";
    display: table;
    clear: both; }

#test-zen-grid-container-3 {
  /* Test zen-grid-container() with IE 6 support */
  *position: relative;
  *zoom: 1; }
  #test-zen-grid-container-3:before {
    content: "";
    display: table; }
  #test-zen-grid-container-3:after {
    content: "";
    display: table;
    clear: both; }

#test-zen-grid-container-4 {
  /* Test zen-grid-container() with $context: grid-item */
  padding-left: 0;
  padding-right: 0; }
  #test-zen-grid-container-4:before {
    content: "";
    display: table; }
  #test-zen-grid-container-4:after {
    content: "";
    display: table;
    clear: both; }

#test-zen-grid-container-5 {
  /* Test zen-grid-container() with $context: flow and $gutters: 21px */
  margin-left: -10px;
  margin-right: -11px;
  padding-left: 0;
  padding-right: 0; }
  #test-zen-grid-container-5:before {
    content: "";
    display: table; }
  #test-zen-grid-container-5:after {
    content: "";
    display: table;
    clear: both; }

#test-zen-grid-container-6 {
  /* Test zen-grid-container() with $context: flow and $gutters: 21px and $zen-switch-direction: true */
  margin-left: -11px;
  margin-right: -10px;
  padding-left: 0;
  padding-right: 0; }
  #test-zen-grid-container-6:before {
    content: "";
    display: table; }
  #test-zen-grid-container-6:after {
    content: "";
    display: table;
    clear: both; }

#test-zen-grid-container-7 {
  /* Test zen-grid-container() with $zen-gutter-method: margin */ }
  #test-zen-grid-container-7:before {
    content: "";
    display: table; }
  #test-zen-grid-container-7:after {
    content: "";
    display: table;
    clear: both; }

#test-zen-grid-container-8 {
  /* Test zen-grid-container() with $context: flow, $gutters: 21px, $rtl-selector */
  margin-left: -10px;
  margin-right: -11px;
  padding-left: 0;
  padding-right: 0; }
  #test-zen-grid-container-8:before {
    content: "";
    display: table; }
  #test-zen-grid-container-8:after {
    content: "";
    display: table;
    clear: both; }
  [dir="rtl"] #test-zen-grid-container-8 {
    margin-left: -11px;
    margin-right: -10px; }
