/**
 * @file
 * Test zen-direction-switch()
 */
#test-zen-direction-switch {
  /* Test zen-direction-switch(left) */
  float: right;
  /* Test zen-direction-switch(right) */
  float: left;
  /* Test zen-direction-switch(both) */
  float: both;
  /* Test zen-direction-switch(none) */
  float: none;
  /* Test zen-direction-switch(invalid) */
  float: invalid;
}
