/**
 * @file
 * Test zen-grid-item-width()
 */
#test-zen-grid-item-width {
  /* Test zen-grid-item-width(1) with default $zen-columns: 1 */
  width: 100%;
  /* Test zen-grid-item-width(2) with $zen-columns: 5 */
  width: 40%;
  /* Test zen-grid-item-width(2, 5) */
  width: 40%;
  /* Test zen-grid-item-width(1) with $zen-grid-width: 100px */
  width: 100px;
  /* Test zen-grid-item-width(2, 5) with $zen-grid-width: 100px */
  width: 40px;
  /* Test zen-grid-item-width(2, 5, $grid-width: 1000px) */
  width: 400px;
  /* Test zen-grid-item-width(2, 5, $grid-width: 1000px, $box-sizing: content-box) */
  width: 380px;
  /* Test zen-grid-item-width(2, 5, $gutters: 10px, $grid-width: 1000px, $box-sizing: content-box) */
  width: 390px;
  /* Test zen-grid-item-width(3, 5, $gutters: 10%, $gutter-method: margin) */
  width: 56%;
  /* Test zen-grid-item-width(3.5, 5, $gutters: 10%, $gutter-method: margin) */
  width: 62%; }
