/**
 * @file
 * Test zen-float()
 */
#test-zen-float {
  /* Test zen-float() */
  float: left;
  /* Test zen-float() with $zen-direction: right */
  float: right;
  /* Test zen-float(left) */
  float: left;
  /* Test zen-float(left, $switch-direction: TRUE) */
  float: right;
  /* Test zen-float() with $rtl-selector */
  float: left; }
  [dir="rtl"] #test-zen-float {
    float: right; }
