/**
 * @file
 * Test zen-clear()
 */

@import "zen-grids";

#test-zen-clear {
  /* Test zen-clear() */
  @include zen-clear();

  /* Test zen-clear() with $zen-direction: right */
  $zen-direction: right;
  @include zen-clear();
  $zen-direction: left;

  /* Test zen-clear(left) */
  @include zen-clear(left);

  /* Test zen-clear(left, $switch-direction: TRUE) */
  @include zen-clear(left, $switch-direction: TRUE);

  /* Test zen-clear(left) with: $zen-switch-direction: TRUE; */
  $zen-switch-direction: TRUE;
  @include zen-clear(left);
}
