/**
 * @file
 * Test zen-grid-flow-item()
 */

@import "zen-grids/flow";

#test-zen-grid-flow-item {
  // We will use a 5 column grid for all tests.
  $zen-columns: 5;

  /* Test zen-grid-flow-item(1) without setting $parent-column-span */
  @include zen-grid-flow-item(1);

  /* Test zen-grid-flow-item(1, 4) with 20px gutter */
  @include zen-grid-flow-item(1, 4);

  /* Test zen-grid-flow-item(1, 4) with 15px gutter */
  $zen-gutters: 15px;
  @include zen-grid-flow-item(1, 4);
  $zen-gutters: 20px;

  /* Test zen-grid-flow-item(1) with 5 columns, 20px gutter and $zen-grid-width: 1000px */
  $zen-grid-width: 1000px;
  @include zen-grid-flow-item(1);
  $zen-grid-width: 100%;

  /* Test zen-grid-flow-item(1) with 5 columns, 20px gutter, $zen-grid-width: 1000px, $alpha-gutter: true and $omega-gutter: false */
  $zen-grid-width: 1000px;
  @include zen-grid-flow-item(1, $alpha-gutter: true, $omega-gutter: false);
  $zen-grid-width: 100%;

  /* Test zen-grid-flow-item(1) with 5 columns, 20px gutter, $zen-grid-width: 1000px and $omega-gutter: false */
  $zen-grid-width: 1000px;
  @include zen-grid-flow-item(1, $omega-gutter: false);
  $zen-grid-width: 100%;

  /* Test zen-grid-flow-item(1, 4) with 15px gutter and $zen-direction: right */
  $zen-gutters: 15px;
  $zen-direction: right;
  @include zen-grid-flow-item(1, 4);
  $zen-gutters: 20px;
  $zen-direction: left;

  /* Test zen-grid-flow-item(1, 4) with 15px gutter and $alpha-gutter: true */
  $zen-gutters: 15px;
  @include zen-grid-flow-item(1, 4, $alpha-gutter: true);
  $zen-gutters: 20px;

  /* Test zen-grid-flow-item(1, 4) with 15px gutter and $omega-gutter: false */
  $zen-gutters: 15px;
  @include zen-grid-flow-item(1, 4, $omega-gutter: false);
  $zen-gutters: 20px;

  /* Test zen-grid-flow-item(3, 4) with 20px gutter and $alpha-gutter: true */
  @include zen-grid-flow-item(3, 4, $alpha-gutter: true);

  /* Test zen-grid-flow-item(3, 4) with 20px gutter and $omega-gutter: false */
  @include zen-grid-flow-item(3, 4, $omega-gutter: false);

  /* Test zen-grid-flow-item(1, 4) with 15px gutter, $zen-direction: right and $alpha-gutter: true */
  $zen-gutters: 15px;
  $zen-direction: right;
  @include zen-grid-flow-item(1, 4, $alpha-gutter: true);
  $zen-gutters: 20px;
  $zen-direction: left;

  /* Test zen-grid-flow-item(1, 4) with $zen-box-sizing: content-box and 10% gutter */
  $zen-gutters: 10%;
  $zen-box-sizing: content-box;
  @include zen-grid-flow-item(1, 4);
  $zen-gutters: 20px;
  $zen-box-sizing: border-box;

  /* Test zen-grid-flow-item(1, 4) with $zen-auto-include-flow-item-base: false */
  $zen-auto-include-flow-item-base: false;
  @include zen-grid-flow-item(1, 4);
  $zen-auto-include-flow-item-base: true;

  /* Test zen-grid-flow-item(1, 4) with $zen-auto-include-box-sizing: false */
  $zen-auto-include-box-sizing: false;
  @include zen-grid-flow-item(1, 4);
  $zen-auto-include-box-sizing: true;
}
