@import 'zen-grids';

#test-zen-half-gutter {
  /* Test zen-half-gutter() with default $zen-gutters: 20px */
  padding-left: zen-half-gutter();

  /* Test zen-half-gutter() with $zen-gutters: 30px */
  $zen-gutters: 30px !global;
  padding-left: zen-half-gutter();

  /* Test zen-half-gutter(10em) */
  padding-left: zen-half-gutter(10em);

  /* Test zen-half-gutter(11em) */
  padding-left: zen-half-gutter(11em);

  /* Test zen-half-gutter(10px) */
  padding-left: zen-half-gutter(10px);

  /* Test zen-half-gutter(11px) */
  padding-left: zen-half-gutter(11px);

  /* Test zen-half-gutter(11px, right) */
  padding-left: zen-half-gutter(11px, right);

  /* Test zen-half-gutter(11px) with $zen-direction: right */
  $zen-direction: right !global;
  padding-left: zen-half-gutter(11px);

  /* Test zen-half-gutter(11px, left) with $zen-direction: right */
  padding-left: zen-half-gutter(11px, left);
}
