.test-layout {
  before: 12;
  after: 12; }
  .test-layout .respond-to {
    respond-to-parameter-context-is: "m";
    respond-to-parameter-noquery-is: false;
    during: 10; }

.test-columns {
  before: 12;
  after: 12; }
  .test-columns .respond-to {
    respond-to-parameter-context-is: "m";
    respond-to-parameter-noquery-is: false;
    during: 6; }

.test-gutters {
  before: 20px;
  after: 20px; }
  .test-gutters .respond-to {
    respond-to-parameter-context-is: "m";
    respond-to-parameter-noquery-is: false;
    during: 10em; }

.test-gutter-method {
  before: padding;
  after: padding; }
  .test-gutter-method .respond-to {
    respond-to-parameter-context-is: "m";
    respond-to-parameter-noquery-is: false;
    during: margin; }

.test-grid-width {
  before: 100%;
  after: 100%; }
  .test-grid-width .respond-to {
    respond-to-parameter-context-is: "m";
    respond-to-parameter-noquery-is: false;
    during: 90%; }

.test-box-sizing {
  before: border-box;
  after: border-box; }
  .test-box-sizing .respond-to {
    respond-to-parameter-context-is: "m";
    respond-to-parameter-noquery-is: false;
    during: content-box; }

.test-direction {
  before: left;
  after: left; }
  .test-direction .respond-to {
    respond-to-parameter-context-is: "m";
    respond-to-parameter-noquery-is: false;
    during: right; }

.test-switch-direction {
  before: false;
  after: false; }
  .test-switch-direction .respond-to {
    respond-to-parameter-context-is: "m";
    respond-to-parameter-noquery-is: false;
    during: true; }

.test-rtl-selector {
  before: false;
  after: false; }
  .test-rtl-selector .respond-to {
    respond-to-parameter-context-is: "m";
    respond-to-parameter-noquery-is: false;
    during: '[dir="rtl"]'; }

.test-auto-include-grid-item-base {
  before: true;
  after: true; }
  .test-auto-include-grid-item-base .respond-to {
    respond-to-parameter-context-is: "m";
    respond-to-parameter-noquery-is: false;
    during: false; }

.test-auto-include-flow-item-base {
  before: true;
  after: true; }
  .test-auto-include-flow-item-base .respond-to {
    respond-to-parameter-context-is: "m";
    respond-to-parameter-noquery-is: false;
    during: false; }

.test-grid-color {
  before: #ffdede;
  after: #ffdede; }
  .test-grid-color .respond-to {
    respond-to-parameter-context-is: "m";
    respond-to-parameter-noquery-is: false;
    during: #dedeff; }

.test-grid-numbers {
  before: both;
  after: both; }
  .test-grid-numbers .respond-to {
    respond-to-parameter-context-is: "m";
    respond-to-parameter-noquery-is: false;
    during: top; }
