/**
 * @file
 * Test zen-grid-item-base()
 */

@import "zen-grids";

#test-zen-grid-item-base {
  /* Test zen-grid-item-base() */
  @include zen-grid-item-base();

  /* Test zen-grid-item-base() with $zen-box-sizing: content-box */
  $zen-box-sizing: content-box !global;
  @include zen-grid-item-base();
  $zen-box-sizing: border-box !global;

  /* Test zen-grid-item-base() with $zen-box-sizing: universal-border-box */
  $zen-box-sizing: universal-border-box !global;
  @include zen-grid-item-base();
  $zen-box-sizing: border-box !global;

  /* Test zen-grid-item-base() with IE 7 support */
  $browser-minimum-versions: (ie: "7") !global;
  @warn "The following test will generate a warning.";
  @include zen-grid-item-base();
  $browser-minimum-versions: (ie: null) !global;

  /* Test zen-grid-item-base() with $box-sizing-polyfill-path: "/boxsizing.htc" and IE 7 support */
  $box-sizing-polyfill-path: "/boxsizing.htc" !global;
  $browser-minimum-versions: (ie: "7") !global;
  @include zen-grid-item-base();
  $box-sizing-polyfill-path: "" !global;
  $browser-minimum-versions: (ie: null) !global;

  /* Test zen-grid-item-base() with $box-sizing-polyfill-path: "/boxsizing.htc" and IE 6 support */
  $box-sizing-polyfill-path: "/boxsizing.htc" !global;
  $browser-minimum-versions: (ie: "6") !global;
  @include zen-grid-item-base();
  $box-sizing-polyfill-path: "" !global;
  $browser-minimum-versions: (ie: null) !global;

  /* Test zen-grid-item-base() with $zen-gutters: 15px */
  $zen-gutters: 15px !global;
  @include zen-grid-item-base();
  $zen-gutters: 20px !global;

  /* Test zen-grid-item-base() with $zen-gutters: 15px and $zen-direction: right */
  $zen-gutters: 15px !global;
  $zen-direction: right !global;
  @include zen-grid-item-base();
  $zen-gutters: 20px !global;
  $zen-direction: left !global;

  /* Test zen-grid-item-base() with $zen-gutters: 15px and $zen-switch-direction: true */
  $zen-gutters: 15px !global;
  $zen-switch-direction: true !global;
  @include zen-grid-item-base();
  $zen-gutters: 20px !global;
  $zen-switch-direction: false !global;

  /* Test zen-grid-item-base() with $zen-gutter-method: margin */
  $zen-gutter-method: margin !global;
  @include zen-grid-item-base();
  $zen-gutter-method: padding !global;
}
