/**
 * @file
 * Test zen-unit-width()
 */

@import "zen-grids";

#test-zen-unit-width {
  /* Test zen-unit-width() with default $zen-columns: 1 */
  width: zen-unit-width();

  /* Test zen-unit-width() with $zen-columns: 5 */
  $zen-columns: 5 !global;
  width: zen-unit-width();
  $zen-columns: 1 !global;

  /* Test zen-unit-width(5) */
  width: zen-unit-width(5);

  /* Test zen-unit-width() with $zen-grid-width: 100px */
  $zen-grid-width: 100px !global;
  width: zen-unit-width();
  $zen-grid-width: 100% !global;

  /* Test zen-unit-width(5) with $zen-grid-width: 100px */
  $zen-grid-width: 100px !global;
  width: zen-unit-width(5);
  $zen-grid-width: 100% !global;

  /* Test zen-unit-width(5, 100px) */
  width: zen-unit-width(5, $grid-width: 100px);

  /* Test zen-unit-width() with $zen-columns: 3, $zen-gutter-method: margin, and $zen-gutters: 5% */
  $zen-columns: 3 !global;
  $zen-gutter-method: margin !global;
  $zen-gutters: 5% !global;
  width: zen-unit-width();
  $zen-columns: 1 !global;
  $zen-gutter-method: padding !global;
  $zen-gutters: 20px !global;

  /* Test zen-unit-width(3, 5px, margin, 100px) */
  width: zen-unit-width(3, 5px, margin, 100px);
}
