/**
 * @file
 * Test zen-clear()
 */
#test-zen-clear {
  /* Test zen-clear() */
  clear: left;
  /* Test zen-clear() with $zen-direction: right */
  clear: right;
  /* Test zen-clear(left) */
  clear: left;
  /* Test zen-clear(left, $switch-direction: TRUE) */
  clear: right;
  /* Test zen-clear(left) with: $zen-switch-direction: TRUE; */
  clear: right;
}
