.test {
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *word-wrap: break-word; }

.test2 {
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url("/boxsizing.htc");
  *word-wrap: break-word; }

.test3 {
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url("/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
  *word-wrap: break-word; }
