//
// Variables module for the Zen Grids system; auto-imported by other modules.
//

// Specify the number of columns in the grid. @see http://next.zengrids.com/reference/grids/#zen-columns
$zen-columns                      : 1           !default;

// Specify the width of the gutters (as padding). @see http://next.zengrids.com/reference/grids/#zen-gutters
$zen-gutters                      : 20px        !default;

// Specify the gutter method. Can be padding or margin.
$zen-gutter-method                : padding     !default;

// @see http://next.zengrids.com/reference/grids/#zen-auto-include-grid-item-base
$zen-auto-include-grid-item-base  : true        !default;

// Specify the width of the entire grid. @see http://next.zengrids.com/reference/grids/#zen-grid-width
$zen-grid-width                   : 100%        !default;

// The box-sizing polyfill for IE6/7 requires an absolute path. @see http://next.zengrids.com/reference/grids/#box-sizing-polyfill-path
$box-sizing-polyfill-path         : ""          !default;

// Specify the CSS3 box-sizing method. @see http://next.zengrids.com/reference/grids/#zen-box-sizing
$zen-box-sizing                   : border-box  !default;

// Specify the minimum version numbers of supported browsers.
// @see http://next.zengrids.com/reference/grids/#browser-minimum-versions
$browser-minimum-versions         : (
  'chrome':  null,
  'firefox': null,
  'ie':      null,
  'safari':  null,
  'opera':   null
)                                               !default;

// Specify the default floating direction for zen grids' mixins. @see http://next.zengrids.com/reference/grids/#zen-direction
$zen-direction                    : left        !default;

// Reverse the floating direction in all zen grids' mixins. @see http://next.zengrids.com/reference/grids/#zen-switch-direction
$zen-switch-direction             : false       !default;

//
// Variables used by the flow module.
//

// @see http://next.zengrids.com/reference/flow/#zen-auto-include-flow-item-base
$zen-auto-include-flow-item-base  : true        !default;

//
// Variables used by the background module.
//

// Specify the color of the background grid. @see http://next.zengrids.com/reference/background/#zen-grid-color
$zen-grid-color                   : #ffdede     !default;

// Specify how to place the column numbers in the background grid image. @see http://next.zengrids.com/reference/background/#zen-grid-numbers
$zen-grid-numbers                 : both        !default;

// Specify a set of images to number the columns of the background grid. @see http://next.zengrids.com/reference/background/#zen-grid-number-images
$zen-grid-number-images           : ()          !default;

// Set this to false to turn off all background grid images without having to
// remove calls to zen-grid-background() from the code.
// @see http://next.zengrids.com/reference/background/#display-zen-grid-background
$display-zen-grid-background      : true        !default;
