#test-zen-flow-item-width {
  /* Test zen-flow-item-width(1, 4) with 20px gutter */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  padding-left: 0;
  padding-right: 15px;
  margin-right: 5px;
  /* Test zen-flow-item-width(1, 4) with 15px gutter */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  padding-left: 0;
  padding-right: 11.25px;
  margin-right: 3.75px;
  /* Test zen-flow-item-width(1) with 5 columns, 20px gutter and $zen-grid-width: 1000px */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 200px;
  padding-left: 0;
  padding-right: 20px;
  /* Test zen-flow-item-width(1) with 5 columns, 20px gutter, $zen-grid-width: 1000px, $alpha-gutter: true and $omega-gutter: false */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 200px;
  padding-left: 20px;
  padding-right: 0;
  /* Test zen-flow-item-width(1) with 5 columns, 20px gutter, $zen-grid-width: 1000px and $omega-gutter: false */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 180px;
  padding-left: 0;
  padding-right: 0;
  /* Test zen-flow-item-width(1, 4) with 15px gutter and $zen-direction: right */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  padding-right: 0;
  padding-left: 11.25px;
  margin-left: 3.75px;
  /* Test zen-flow-item-width(1, 4) with 15px gutter and $alpha-gutter: true */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  padding-left: 0;
  margin-left: 15px;
  padding-right: 11.25px;
  margin-right: 3.75px;
  /* Test zen-flow-item-width(1, 4) with 15px gutter and $omega-gutter: false */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  padding-left: 0;
  padding-right: 11.25px;
  margin-right: -11.25px;
  /* Test zen-flow-item-width(3, 4) with 20px gutter and $alpha-gutter: true */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 75%;
  padding-left: 0;
  margin-left: 20px;
  padding-right: 5px;
  margin-right: 15px;
  /* Test zen-flow-item-width(3, 4) with 20px gutter and $omega-gutter: false */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 75%;
  padding-left: 0;
  padding-right: 5px;
  margin-right: -5px;
  /* Test zen-flow-item-width(1, 4) with 15px gutter, $zen-direction: right and $alpha-gutter: true */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  padding-right: 0;
  margin-right: 15px;
  padding-left: 11.25px;
  margin-left: 3.75px;
  /* Test zen-flow-item-width(1, 4) with $zen-box-sizing: content-box and 10% gutter */
  border-left: 0 !important;
  border-right: 0 !important;
  width: 10.71429%;
  padding-left: 0;
  padding-right: 10.71429%;
  margin-right: 3.57143%;
  /* Test zen-flow-item-width(1, 4) with $zen-box-sizing: universal-border-box */
  width: 25%;
  padding-left: 0;
  padding-right: 15px;
  margin-right: 5px;
  /* Test zen-flow-item-width(1, 4) with $zen-auto-include-flow-item-base: false */
  width: 25%;
  padding-left: 0;
  padding-right: 15px;
  margin-right: 5px; }
