@import 'support-for';
@import 'zen-grids/flow';

.test {
  $support-for: (ie: 7) !global;
  @include zen-flow-item-base();
  $support-for: ('*': -4) !global;
}

.test2 {
  $box-sizing-polyfill-path: "/boxsizing.htc" !global;
  $support-for: (ie: 7) !global;
  @include zen-flow-item-base();
  $box-sizing-polyfill-path: "" !global;
  $support-for: ('*': -4) !global;
}

.test3 {
  $box-sizing-polyfill-path: "/boxsizing.htc" !global;
  $support-for: (ie: 6) !global;
  @include zen-flow-item-base();
  $box-sizing-polyfill-path: "" !global;
  $support-for: ('*': -4) !global;
}
