/**
 * @file
 * Base HTML element styles.
 */

html {
  font-size:   $base-font-size;
  line-height: $base-line-height;
}

body {
  padding: {
    top:   $vertical-rhythm;
    right: $vertical-rhythm;
  }
}

p {
  margin: {
    top:    $vertical-rhythm;
    bottom: $vertical-rhythm;
  }
}
