/**
 * @file
 * Component styles.
 */


/* Skip link styling */
.skip-link {
  margin: 0;
}
.skip-link__link {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;

  /* The skip-link link will be completely hidden until a user tabs to the link. */
  @media all and (min-width: 444px) {
    @include visually-focusable();
  }

  &,
  &:visited {
    color: #fff;
    background-color: #666;
  }
}

/* Set a consistent padding around all containers */
.header,
.footer {
  @extend %grid-item;
}
.grid-item,
.footer {
  padding-top: $vertical-rhythm;
}

/* Source-order meta info */
header {
  h1,
  h2 {
    display: inline;
  }
  p {
    display: inline;
    text-transform: uppercase;
    font-size: 0.8em;
    color: #c00;
  }
}

/* Pull-quotes */
.pull-quote {
  @include zen-float();
  @include zen-flow-item-width(1, 2);
  @media all and (min-width: 999px) {
    @include zen-flow-item-width(1, 3);
  }

  margin: {
    top: $vertical-rhythm;
  }
  font-size: 1.2em;
  font-weight: bold;
  font-style: italic;
}
