/**
 * @file
 * Layout styles.
 *
 * We use example breakpoints of 444px, 666px, 777px, 999px and 1111px. The
 * right breakpoints to use for your site depend on your content.
 */

.l-basic {
  @include zen-grid-background();
  // Center the layout and ensure it doesn't grow too wide.
  margin: {
    left:  auto;
    right: auto;
  }
  max-width: 1111px;
}

/* Set the shared properties for all grid items. */
.l-basic__main,
.l-basic__menu,
.l-basic__content,
.l-basic__aside1,
.l-basic__aside2 {
  @include zen-grid-item-base();
}

/* Set the container for our grid items. */
.l-basic__main {
  @include zen-grid-container();
}

/* Horizontal navigation bar */
@media all and (min-width: 444px) {
  $zen-columns: 1;
  $navbar-height: 5em;

  .l-basic__main {
    padding-top: $navbar-height;
  }
  .l-basic__menu {
    @include zen-grid-item(1, 1);
    margin-top: -$navbar-height;
    height: $navbar-height;
  }
}

@media all and (min-width: 444px) and (max-width: 665px) {
  $zen-columns: 2;

  .l-basic {
    @include zen-grid-background();
  }
  .l-basic__content {
    @include zen-grid-item(2, 1);
  }
  .l-basic__aside1 {
    @include zen-new-row(); // Clear left-floated elements (.l-basic__content)
    @include zen-grid-item(1, 1);
  }
  .l-basic__aside2 {
    @include zen-grid-item(1, 2);
  }
}

@media all and (min-width: 666px) and (max-width: 776px) {
  $zen-columns: 3;

  .l-basic {
    @include zen-grid-background();
  }
  .l-basic__content {
    @include zen-grid-item(2, 1);
  }
  .l-basic__aside1 {
    @include zen-grid-item(1, 1, right); // Position from the right
  }
  .l-basic__aside2 {
    @include zen-new-row(); // Clear left-floated elements (.l-basic__content)
    @include zen-grid-item(2, 1);
  }
}

@media all and (min-width: 777px) and (max-width: 998px) {
  $zen-columns: 3;

  .l-basic {
    @include zen-grid-background();
  }
  .l-basic__content {
    @include zen-grid-item(2, 1);
  }
  .l-basic__aside1 {
    @include zen-grid-item(1, 1, right); // Position from the right
  }
  .l-basic__aside2 {
    @include zen-new-row(right); // Clear right-floated elements (.l-basic__aside1)
    @include zen-grid-item(1, 1, right);
  }
}

@media all and (min-width: 999px) {
  $zen-columns: 5;

  .l-basic {
    @include zen-grid-background();
  }
  .l-basic__content {
    @include zen-grid-item(3, 2);
  }
  .l-basic__aside1 {
    @include zen-grid-item(1, 1);
  }
  .l-basic__aside2 {
    @include zen-grid-item(1, 5);
  }
}
