/**
 * @file
 * Layout styles.
 *
 * We use example breakpoints of 444px, 666px, 777px, 999px and 1111px. The
 * right breakpoints to use for your site depend on your content.
 */

#header,
#main,
#footer {
  margin: {
    left: auto;
    right: auto;
  }
  max-width: 1111px;
}

/* Set the shared properties for all grid items. */
%grid-item,
.grid-item {
  @include zen-grid-item-base();
}

#main {
  @include zen-grid-container();
}

#content aside {
  font-weight: bold;
  font-style: italic;
  font-size: 1.2em;
  @include zen-grid-flow-item(1, 3);
  float: left;
  margin: {
    top: (1em/1.2);
    bottom: (1em/1.2);
  }
}

/* Horizontal navigation bar */
@media all and (min-width: 444px) {
  $zen-column-count: 1;
  $navbar-height: 4em;

  #main {
    padding-top: $navbar-height;
  }
  #main-menu {
    @include zen-grid-item(1, 1);
    margin-top: -$navbar-height;
    height: $navbar-height;
  }
}

@media all and (min-width: 444px) and (max-width: 665px) {
  $zen-column-count: 2;

  #content {
    @include zen-grid-item(2, 1);
  }
  #aside1 {
    @include zen-clear(); // Clear left-floated elements (#content)
    @include zen-grid-item(1, 1);
  }
  #aside2 {
    @include zen-grid-item(1, 2);
  }
}

@media all and (min-width: 666px) and (max-width: 776px) {
  $zen-column-count: 3;

  #content {
    @include zen-grid-item(2, 1);
  }
  #aside1 {
    @include zen-grid-item(1, 1, right); // Position from the right
  }
  #aside2 {
    @include zen-clear(); // Clear left-floated elements (#content)
    @include zen-grid-item(2, 1);
  }
}

@media all and (min-width: 777px) and (max-width: 998px) {
  $zen-column-count: 3;

  #content {
    @include zen-grid-item(2, 1);
  }
  #aside1 {
    @include zen-grid-item(1, 1, right); // Position from the right
  }
  #aside2 {
    @include zen-clear(right); // Clear right-floated elements (#aside1)
    @include zen-grid-item(1, 1, right);
  }
}

@media all and (min-width: 999px) {
  $zen-column-count: 5;

  #content {
    @include zen-grid-item(3, 2);
  }
  #aside1 {
    @include zen-grid-item(1, 1);
  }
  #aside2 {
    @include zen-grid-item(1, 5);
  }
}
