
/* Skip link styling */
#skip-link {
  margin: 0;

  a,
  a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: #fff;
}
/* The skip-link link will be completely hidden until a user tabs to the link. */
@media all and (min-width: 444px) {
  #skip-link a {
    @include visually-focusable();
  }
}

// Set a consistent padding around all containers
#header,
#content,
#main-menu,
#aside1,
#aside2,
#footer {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: zen-half-gutter();
}

// Alternate border styling
#header,
#main-menu,
#aside2 {
  border: 1px solid #ccc;
}
#content,
#aside1,
#footer {
  border: 1px solid #09f;
}

/* Source-order meta info */
header {
  h1,
  h2 {
    display: inline;
  }
  p {
    display: inline;
    text-transform: uppercase;
    font-size: 0.8em;
    color: #c00;
  }
}

.pull-quote {
  $font-size: 1.2em;

  @include zen-grid-flow-item(1, 3);
  @include zen-float();
  margin: {
    top: (1em/$font-size);
    bottom: (1em/$font-size);
  }
  font-size: $font-size;
  font-weight: bold;
  font-style: italic;
}
