<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Zen Grids: sample usage</title>
  <link rel="stylesheet" href="stylesheets/styles.css" media="all">
</head>
<body>

<p class="skip-link">
<a href="#main-menu" class="skip-link__link">Jump to main menu</a>
</p>

<div class="l-basic">

  <header class="l-basic__header">
    <p class="meta">
      <span class="meta__heading">Header</span>
      <span class="meta__data">HTML source order: 1</span>
    </p>
    <h1 class="header__title">Zen Grids: sample usage</h1>
  </header>

  <div class="l-basic__main">

    <article class="l-basic__content" role="main">
      <header class="meta">
        <h1 class="meta__heading">Main content</h1>
        <p class="meta__data">HTML source order: 2</p>
      </header>
      <p>Alice did not quite know what to say to this: so she helped herself to some tea and bread-and-butter, and then turned to the Dormouse, and repeated her question. ‘Why did they live at the bottom of a well?’</p>
      <aside class="pull-quote">
        <span class="meta">
          <span class="meta__heading">Pull quote</span>
          <span class="meta__data">HTML source order: 2.1</span>
        </span>
        ‘There’s no such thing!’
      </aside>
      <p>The Dormouse again took a minute or two to think about it, and then said, ‘It was a treacle-well.’ ‘There’s no such thing!’ Alice was beginning very angrily, but the Hatter and the March Hare went ‘Sh! sh!’ and the Dormouse sulkily remarked, ‘If you can’t be civil, you’d better finish the story for yourself.’</p>
      <div class="l-basic__columns">
        <p class="l-basic__col1">
          <span class="meta">
            <span class="meta__heading">Nested column 1</span>
            <span class="meta__data">HTML source order: 2.2.1</span>
          </span>
          At some breakpoints, this is a nested grid. At some breakpoints, this is a nested grid. At some breakpoints, this is a nested grid. At some breakpoints, this is a nested grid.
        </p>
        <p class="l-basic__col2">
          <span class="meta">
            <span class="meta__heading">Nested column 2</span>
            <span class="meta__data">HTML source order: 2.2.2</span>
          </span>
          At some breakpoints, this is a nested grid. At some breakpoints, this is a nested grid.
        </p>
      </div>
      <p>‘No, please go on!’ Alice said very humbly; ‘I won’t interrupt again. I dare say there may be ONE.’</p>
    </article>

    <nav class="l-basic__menu" role="navigation" id="main-menu">
      <header class="meta">
        <h2 class="meta__heading">Menu</h2>
        <p class="meta__data">HTML source order: 3</p>
      </header>
      <a href="#">Alice</a> ★
      <a href="#">Mad Hatter</a> ★
      <a href="#">The Queen</a> ★
      <a href="#">Tom Petty</a>
    </nav>

    <aside class="l-basic__aside1">
      <header class="meta">
        <h2 class="meta__heading">Aside</h2>
        <p class="meta__data">HTML source order: 4</p>
      </header>
      <p>‘Have some wine,’ the March Hare said in an encouraging tone.</p>
    </aside>

    <aside class="l-basic__aside2">
      <header class="meta">
        <h2 class="meta__heading">Aside</h2>
        <p class="meta__data">HTML source order: 5</p>
      </header>
      <p>‘Please would you tell me,’ said Alice, a little timidly, for she was not quite sure whether it was good manners for her to speak first, ‘why your cat grins like that?’</p>
      <p>‘It’s a Cheshire cat,’ said the Duchess, ‘and that’s why. Pig!’</p>
    </aside>

  </div>

  <footer class="l-basic__footer">
    <p class="meta">
      <span class="meta__heading">Footer</span>
      <span class="meta__data">HTML source order: 6</span>
    </p>
    <small>The small print.™</small>
  </footer>

</div>

</body>
</html>
